.container
  = render 'left_sidebar'
  .chat
    .header
      .header-left
        .header-left__title
          = @group.name
        .header-left__member      
          Member：名前
      .header-right
        .header-right__button
          EDIT
    .messages
      = render @messages
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'